---
layout: default
---
<nav>
  {% for item in site.data.rof-navigation %}
  <a href="{{ item.link }}">
    {{ item.name }}
  </a>
  {% unless item == site.data.rof-navigation.last %}&nbsp;-&nbsp;{% endunless %}
{% endfor %}
</nav>
{{content}}
